<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/form.css">
</head>

<body>
    <div class=container>
        <form>
            <div class="coins">
                <div class="dropdown">
                    <label for="coin-name">Coin Name</label>
                    <div id="myDropdown" class="dropdown-content">
                        <input type="drop" id="coin-name" name="coin-name" placeholder="Coin Name"
                            onkeyup="filterFunction()" onblur="undropdown()">
                        <div id="coins-info">
                            <a id="coin-list" href="#about">About</a>
                            <a href="#base">Base</a>
                            <a href="#blog">Blog</a>
                            <a href="#contact">Contact</a>
                            <a href="#custom">Custom</a>
                            <a href="#support">Support</a>
                            <a href="#support">Support</a>
                            <a href="#support">Support</a>
                            <a href="#support">Support</a>
                            <a href="#support">Support</a>
                            <a href="#support">Support</a>
                            <a href="#tools">Tools</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="coins">
                <label for="coin-quantity">Coin Quantity</label>
                <input type="text" id="coin-quantity" name="coin-quantity" placeholder="Coin Quantity">
            </div>
            <div class="coins">
                <label for="buy-price">Buy Price</label>
                <input type="text" id="buy-price" name="buy-price" placeholder="Buy Price">
            </div>
            <div class="coins">
                <label for="current-price">Current Price</label>
                <input type="text" id="current-price" name="current-price" placeholder="Current Price">
            </div>
            <div class="submit">
                <input id="submit" type="submit" value="Submit">
            </div>
            <div class="cancel">
                <button id="cancel">Cancel</button>
            </div>
        </form>
    </div>
    <script src="/static/js/form.js"></script>
</body>

</html>