<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <script src="https://kit.fontawesome.com/433788771e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/trading_portfolio/static/css/base.css">
    {% block styles %}

    {% endblock %}
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div id="liveAlertPlaceholder"></div>
            <button type="button" class="btn btn-primary" onclick="alert(message, category)" id="liveAlertBtn">Show live alert</button>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <script src="/trading_portfolio/static/js/base.js"></script>
    {% block content %}

    {% endblock %}
</body>
</html>