{% extends 'user/base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block styles %}

    <link rel="stylesheet" href="/static/css/index.css">

{% endblock %}

{% block content %}

    <div class="background-img">
        <div class="navbar">
            <ul class="links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
                
            {% if "username" in session %}
                <ul class="session">
                    <li><a href="{{ url_for('user.logout_user')}}">Logout</a></li>
                    <li><a href="{{ url_for('user.register_page')}}">My Profile</a></li>
                </ul>
            {% else %}
                <ul class="session">
                    <li><a href="{{ url_for('user.login_page')}}">Login</a></li>
                    <li><a href="{{ url_for('user.register_page')}}">Register</a></li>
                </ul>
            {% endif %}
        </div>
        <div class="heading">
            <h1>Hi, Everyone</h1>
            <p>This is a portfolio tracker page</p>
        </div>
        <div class="started">
            {% if "username" in session %}
                <a href="#form-name">Get Started</a>
            {% else %}
                <a href="/login">Get Started</a>
            {% endif %}
        </div>
    </div>

{% endblock %}