{% extends 'user/base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block styles %}

    <link rel="stylesheet" href="/static/css/login.css">

{% endblock %}

{% block content %}
    <h1>Login</h1>
    <div class="container">
        <form class="login-form" action="{{ url_for('user.login_user')}}" method="POST">
            <div class="form-group">
                <label for="email-username">Email Or Username</label>
                <input type="text" name="email-username" class="form-control" id="email-username" placeholder="Email Address Or Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <div class="form-group" style="text-align: center;">
                <p> Don't Have An Account. <a href="{{ url_for('user.register_page')}}">Create Account</a></p>
            </div>
        </form>
    </div>
{% endblock %}